# dein install script
deininstall.sh
# oh my zsh install script
ohmyzsh.sh
# vim tmp files -_-
*.un~
*.swp

# OS X >_>
.DS_Store

# emacs 0.0
ido.last
smex-items
backups/
elpa/
network-security.data
custom.el

# ansible files
latest
latest.*
main.retry

# .env files shouldn't ever get here, but just in case
.env
